{% extends 'base.html' %}

{% block head %}
    <title>Heroes</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Add a Superhero</h1>
    <form action="/" method="post">
        <input type="text" name="hero" placeholder="Name" required>
        <input type="text" name="mask" placeholder="Super Hero Name" required>
        <input type="submit" value="Add Hero">
    </form>

     <hr>
     
    <a href="/assign_power" class="button">Assign a Power to Hero</a>
    <a href="/add_power" class="button">Add a New Power</a>
    

    {% if heroes | length < 1 %}
        <h3>No heroes registered yet.</h3>
    {% else %}
        <h2>Registered Heroes</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Supername</th>
                <th>Function</th>
            </tr>
            {% for hero in heroes %}
            <tr>
                <td>{{ hero.names }}</td>
                <td>{{ hero.super_hero_name }}</td>
                <td>
                    <a href="/update_power/{{ hero.id }}" class="button">Update</a>
                    <a href="/delete/{{ hero.id }}" class="button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

   
</div>
{% endblock %}
